{* Latte template *}

{block content}

<div id="banner">
	<h1 n:block=title>Users and articles</h1>
</div>

<ul>
	{foreach $users as $user}
		<li>
			{$user->id}: {$user->login}
			<ul>
				{foreach $user->articles as $article}
					<li>
					{$article->id}: {$article->title}
					(author: {$article->author->login})
					</li>
				{/foreach}
			</ul>
		</li>
	{/foreach}
</ul>
